@import 'assets/vars';

.feedback {
  padding: 100px 0 50px;

  h2 {
    margin-bottom: 55px;
  }

  .container {
    > a {
      width: 172px;
      height: 41px;
      font-size: 14px;
      margin: 0 auto;
    }
  }
}

.feedback-swiper {
  padding: 20px;
}

.feedback-swiper-wrapper {
  margin-bottom: 30px;
}

.feedback-swiper-slide {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 20px 3px rgba(97, 134, 149, 0.76);
  padding: 30px;
  height: auto;
}

.swiper-slide- {
  &left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;

    img {
      width: 40px;
      height: 40px;
    }
  }

  &right {
    span {
      font-size: 20px;
      display: block;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      line-height: 1.25;
    }
  }
}

.feedback-form {
  position: relative;
  width: 50%;
  height: 40%;
  min-height: 500px;
  margin: 100px auto;

  label {
    width: 100%;

    input {
      margin-bottom: 10px;
    }

    textarea {
      height: calc(100% - 126px);
      resize: none;
    }

    input:not([type='submit']), textarea {
      width: 100%;
      padding: 15px 10px;
      font-family: "Montserrat", sans-serif;
      border: 2px solid $dark-blue;
      border-radius: 4px;
      font-size: 16px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: 16px;
        color: #618695;
      }
    }
  }

  #send-feedback-form {
    max-width: 250px;
    width: 320px;
    height: 40px;
    margin: 20px auto;

    &:hover {
      cursor: pointer;
    }
  }
}


@media screen and (max-width: 767px) {
  .feedback {
    padding: 70px 0 50px;
  }

  .feedback-form {
    width: 80%;
  }
}

@media screen and (max-width: 575px) {
  .feedback-swiper-slide {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .swiper-slide- {
    &left {
      padding-right: 0;
      margin-bottom: 10px;
    }

    &right {
      span {
        text-align: center;
      }
    }
  }

  .feedback-form {
    width: 85%;
  }
}